<h1 mat-dialog-title>Add a new Question.</h1>
<form>

  <mat-form-field class="" appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput type="text" [(ngModel)]="data.author" name="author_input" required>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Question Text</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="data.question" required></textarea>
  </mat-form-field>

  <app-chip-input label="Answers" placeholder="Add an answer" [(ngModel)]="data.answers" name="tag_input" required="true"></app-chip-input>

  <mat-form-field class="" appearance="fill">
    <mat-label>Category</mat-label>
    <input matInput type="text" [(ngModel)]="data.category">
  </mat-form-field>

  <app-chip-input label="Tags" placeholder="Add a tag"></app-chip-input>

  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</form>
