<h1 mat-dialog-title>Add a new Question.</h1>
<form class="flex flex-col" >
  <mat-form-field class="" appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput type="text" [(ngModel)]="data.author"  name="author_input">
  </mat-form-field>

  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Question Text</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="data.question" name="question_input" ></textarea>
  </mat-form-field>

  <mat-form-field #answersInputForm class="w-full mb-8" appearance="fill" >
    <mat-label>Answers</mat-label>
    <mat-chip-list #answerChipList aria-label="Answers">
      <mat-chip #answerChip="matChip" *ngFor="let answer of data.answers" color="primary" (removed)="removeAsnwer(answer)" (selectionChange)="answer.correct = answerChip.selected">
        {{answer.answer}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="Add answers"
             [matChipInputFor]="answerChipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addAnswer($event)" required >

    </mat-chip-list>
    <mat-hint align="end">Select an answer and press space to mark it as correct</mat-hint>
  </mat-form-field>

  <mat-form-field class="" appearance="fill">
    <mat-label>Category</mat-label>
    <input matInput type="text" [(ngModel)]="data.category"  name="category_input">
  </mat-form-field>

  <mat-form-field #tagInputForm class="w-full" appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-chip-list #tagChipList aria-label="Tags">
      <mat-chip #tagChip="matChip" *ngFor="let tag of data.tags" color="primary" (removed)="removeTag(tag)">
        {{tag}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="Add tags"
             [matChipInputFor]="tagChipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addTag($event)" required>
    </mat-chip-list>
  </mat-form-field>


    <mat-label>Difficulty</mat-label>
    <mat-slider color="primary"
      thumbLabel
      tickInterval="1"
      step="1"
      min="0"
      max="5"
      aria-label="units" [(ngModel)]="this.data.difficulty" name="difficulty_slider"></mat-slider>



  <button mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]="this.data.answers.length === 0 || !this.data.question || !this.data.author ">Submit</button>
</form>
